<h1>Ideas</h1>
{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/{{id}}/edit" class="btn btn-warning btn-block mb-2">Edit</a>
        <form action="/ideas/{{id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-block">Delete</button>
        </form>
    </div>
{{else}}
    <p>No video ideas listed</p>
{{/each}}